@import "tailwindcss";



@keyframes floatIcon {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.icon-float {
  animation: floatIcon 3.5s ease-in-out infinite;
}
